<section class="section-gallery bg-white">
        
    <div class="gallery  no-padding">
        <h2 class="heading text-center">GALLERY</h2>
        
        <!-- FILTER
        <div class="gallery-cat text-center">
            <ul class="list-inline">
                <li class="active list-inline-item"><a href="#" data-filter="*">All</a></li>
                <li class="list-inline-item"><a href="#" data-filter=".ground">HOTEL &amp; GROUND</a></li>
                <li class="list-inline-item"><a href="#" data-filter=".suite">ROOM/SUITE </a></li>
                <li class="list-inline-item"><a href="#" data-filter=".bathroom">BATHROOM</a></li>
                <li class="list-inline-item"><a href="#" data-filter=".dining">DINING</a></li>
            </ul>
        </div> -->
        <!-- END / FILTER -->
        
        <!-- GALLERY CONTENT -->
        <div class="gallery-content hover-img">
            <div class="row">
                
                <div class="gallery-isotope col-6 pd-0 wt-100">

                    <!-- ITEM SIZE -->
                        <div class="item-size"></div>
                        <!-- END / ITEM SIZE -->
                    <!-- ITEM -->
                    
                    <div class="item-isotope suite dining">
                        <div class="gallery_item">
                            <a href="../../../assets/images/gallery/popup/img-1.jpg"  class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-1.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope  ground bathroom suite">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope ground bathroom dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-3.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope suite dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-4.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope  ground suite dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-5.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope ground bathroom dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-6.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope ground suite dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-7.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope bathroom suite dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-8.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope bathroom suite dining">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-9.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope ground bathroom">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-10.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope ground bathroom suite ">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-11.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                    <!-- ITEM -->
                    <div class="item-isotope ground bathroom">
                        <div class="gallery_item">
                            <a  href="../../../assets/images/gallery/popup/img-1.jpg" class="gallery-popup mfp-image" title="Luxury Room view all">
                                <img src="../../../assets/images/gallery/img-12.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- END / ITEM -->

                </div>
            </div>

            <div class="our-gallery text-center">
                <a href="#" class="awe-btn awe-btn-default">BROWSE OUR GALLERY</a>
            </div>

        </div>
        <!-- GALLERY CONTENT -->

    </div>
</section>
